<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="TestDB" connectionString="Data Source=.\SQLEXPRESS;Database=EPiServerLocalHead;User Id=episerverlocalHead;Password=epi#Server7Local;Network Library=DBMSSOCN;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>